@media (min-width: 320px) and (max-width: 690px) {
    .header {
        height: auto;
        min-height: 200px;
    }
    .menu__list {
        flex-wrap: wrap;
    }
    .hero {
        background-image: url(../assets/images/Background-mobile.png);
        background-repeat: no-repeat;
        background-position: center top;
        background-size: 100% auto;
        aspect-ratio: 1160 / 1350;
    }
    .hero__content {
        padding: 6vw 0 0 10vw;
        max-width: 55vw;
    }
    .hero__title {
        font-size: clamp(1.2rem, 6vw, 2.4rem);
    }
    .hero__desc {
        font-size: clamp(1rem, 3.2vw, 1.6rem); 
        line-height: 1.5;  
    }
    .button {
        padding: 
            clamp(10px, 2vw, 14px)
            clamp(12px, 2vw, 16px);
        font-size: clamp(0.8rem, 3vw, 1.6rem);
    }
    .button--section {
        margin-top: 2vw;
        font-size: clamp(0.9rem, 3vw, 1.6rem);
    }
    .about__content {
        flex-direction: column;
    }
    .about__text {
        width: 100%;
        order: 3;
        flex: 0 0 auto;
        
    }
    .about__desc {
        text-align: justify;
        hyphens: auto;
        margin: 0;
        padding: 4vw 10vw 0 10vw;
        font-size: clamp(1rem, 3.2vw, 1.6rem);  
        line-height: 1.5;
    }   
    .about__card {
        padding-top: 8vw;
        order: 2;
        justify-content: center;
        flex: 0 0 auto;
    }
    .about__icons {
        flex-wrap: wrap;
        gap: clamp(20px, 10.2vw, 70px);
    }
    .about__icons-text {
        font-size: clamp(1rem, 3.2vw, 1.6rem);  
        text-align: center;
        margin: 0;
    }
    .about__icons-img {
        width: 80px;
    }
    .gallery__card--mobile-hidden, .services__icon--mobile-hidden{
        display: none;
    }
    .services__item {
        display: flex;
        flex-direction: column;
        height: auto;
        align-items: center;
    }
    .services__content {
        width: 100%;
        box-sizing: border-box;
        padding: 0 4vw;
        text-align: justify;
        hyphens: auto;
        line-height: 1.5; 
    }
    .services__img {
        width: clamp(240px, 48vw, 300px);
        margin-bottom: 4vw;
    }
    .services__desc {
        font-size: clamp(1rem, 3.2vw, 1.6rem); 
    }
    .services__price {
        font-size: clamp(1rem, 3.2vw, 1.6rem); 
    }
    .gallery__items {
        margin-top: 3vw;
        flex-direction: column;
        align-items: center;
    }
    .gallery__card {
        flex-basis: auto;
        width: clamp(280px, 65vw, 500px);
    }
    .reviews__item {
        margin-top: clamp(30px, 12vw, 35px);
        flex-direction: column;
        align-items: center;
    }
    .reviews__text {
        font-size: clamp(1rem, 3.2vw, 1.6rem); 
        line-height: 1.5;
    }  
    .reviews__card {
        width: clamp(280px, 62vw, 400px); 
    }  
    .reviews__quote {
        font-size: clamp(3rem, 8vw, 8rem); 
    } 
    .reviews__link {
        font-size: clamp(1.3rem, 3.8vw, 1.6rem); 
    }
    .footer__info {
        flex-direction: column;
    }
    .footer__info-item {
        align-items: center;
    }
    .footer__map {
        margin-top: 4vw;
    }
    .footer__logo {
        width: clamp(180px, 30vw, 360px);
    }
    .footer__map-iframe {
        width: clamp(250px, 80vw, 600px);
        height: clamp(200px, 45vw, 500px); 
    }
}

@media (min-width: 691px) and (max-width: 980px) {
    .hero {
        background-image: url(/assets/images/Background-medium.png);
        aspect-ratio: 1440 / 860;
    }
    .gallery__card {
        flex-basis: calc((90% - 3vw) / 2);
        border-radius: 20px;
    }
    .gallery__card--medium-hidden { 
        display: none;
    }
    .reviews__item {
        flex-wrap: wrap;
        gap: clamp(40px, 6vw, 50px);
    }
    .reviews__card {
        flex: 1 1 400px;
        max-width: 400px;
    }
    .reviews__quote {
        font-size: clamp(3rem, 6.5vw, 5rem); 
    } 
}

@media (min-width: 1120px) {
    .footer__info-item:first-child {
        padding-left: 10vw;
    }
}
