@media (min-width: 320px) and (max-width: 690px) {
    .desktop-br {
        display: none;
    }
    .mobile-br {
        
    }

    .header {
        height: auto;
        min-height: 235px;
    }
    .menu__list {
        flex-wrap: wrap;
    }
    .hero {
        background-image: url(../assets/images/Background-2.png);
        background-repeat: no-repeat;
        background-position: center top;
        background-size: 100% auto;
        aspect-ratio: 1160 / 1350;
    }
    .hero__info {
        padding: 4vw 0 0 10vw;
        max-width: 48vw;
    }
    .hero__text-big {
        font-size: clamp(1.2rem, 6vw, 2.4rem);
    }
    .hero__text-desc {
        font-size: clamp(0.9rem, 3.2vw, 1.6rem); 
        line-height: clamp(20px, 4vw, 25px);   
    }
    .button {
        padding: 
            clamp(10px, 2vw, 14px)
            clamp(12px, 2vw, 16px);
        font-size: clamp(0.8rem, 3vw, 1.6rem);
    }
    .div__button {
        margin-top: 2vw;
        font-size: clamp(0.9rem, 3vw, 1.6rem);
    }
    .about__main {
        flex-direction: column;
    }
    .tittle {
        order: 1;
    }
    .about__text {
        width: 100%;
        order: 3;
        flex: 0 0 auto;
        
    }
    .about__desc {
        text-align: justify;
        hyphens: auto;
        margin: 0;
        padding: 4vw 10vw 0 10vw;
        font-size: clamp(1rem, 2.5vw, 1.8rem);   
        line-height: 25px; 
    }   
    .about__card {
        padding-top: 8vw;
        order: 2;
        justify-content: center;
        flex: 0 0 auto;
    }
    .about__icons {
        flex-wrap: wrap;
        gap: clamp(20px, 10.2vw, 70px);
    }
    .about__icons-text {
        font-size: clamp(1rem, 2vw, 1.4rem);  
    }
    .about__icons-text {
        /* max-width: 32.8vw; */
        font-size: clamp(0.9rem, 2vw, 1.6rem);  
        text-align: center;
        margin: 0;
    }
    .about__icons-img {
        width: 80px;
    }

    .vizability {
        display: none;
    }
    .services__item {
        display: flex;
        flex-direction: column;
        height: auto;
        align-items: center;
    }
    .services__item-text {
        text-align: justify;
        hyphens: auto;
        padding: 0 4vw 0 4vw;
        text-align: justify;
        line-height: 25px; 
    }
    .services__item-img {
        width: clamp(180px, 45vw, 250px);
        margin-bottom: 3vw;
    }
    .gallery_items {
        flex-direction: column;
        align-items: center;
    }
    .gallery_card {
        flex-basis: auto;
        width: clamp(250px, 65vw, 500px);
    }
    .reviews_item {
        margin-top: clamp(30px, 12vw, 35px);
        flex-direction: column;
        align-items: center;
    }
    .reviews_text {
        line-height: 25px; 
    }  
    .reviews_card {
        width: clamp(280px, 62vw, 400px);
        
    }  
    .review_quote {
        font-size: clamp(3rem, 8vw, 8rem); 
    } 
    .footer__info {
        flex-direction: column;
    }
    .footer__info-item {
        align-items: center;
    }
    .footer__map {
        margin-top: 4vw;
    }
    .footer__logo {
        width: clamp(180px, 30vw, 360px);
    }
    .iframe {
        width: clamp(250px, 80vw, 600px);
        height: clamp(200px, 45vw, 500px); 
    }
}

@media (max-width: 900px) {

    .gallery_card {
        flex-basis: calc((90% - 40px) / 2);
        border-radius: 20px;
    }
    .last { 
        display: none;
    }
        .reviews_item {
        flex-wrap: wrap;
        gap: clamp(40px, 6vw, 50px);
    }
    .reviews_card {
        flex-basis: calc((90% - 40px) / 2);
    }
        .review_quote {
        font-size: clamp(3rem, 6.5vw, 5rem); 
    } 
}

@media (min-width: 1120px) {
    .footer__info-item:first-child {
        padding-left: 10vw;
    }
}
